@import "font-face";

$fonts: '../fonts';  // Path to public

@include font-face('Garamond', '#{$fonts}/eb-garamond-v15-latin-regular', 400, normal);
@include font-face('Garamond', '#{$fonts}/eb-garamond-v15-latin-600', 600, normal);

@include font-face('remixicon', '#{$fonts}/remixicon', 400, normal);

[class^="ri-"], [class*="ri-"] {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ri-lg { font-size: 1.3333em; line-height: 0.75em; vertical-align: -.0667em; }
.ri-xl { font-size: 1.5em; line-height: 0.6666em; vertical-align: -.075em; }
.ri-xxs { font-size: .5em; }
.ri-xs { font-size: .75em; }
.ri-sm { font-size: .875em }
.ri-1x { font-size: 1em; }
.ri-2x { font-size: 2em; }
.ri-3x { font-size: 3em; }
.ri-4x { font-size: 4em; }
.ri-5x { font-size: 5em; }
.ri-6x { font-size: 6em; }
.ri-7x { font-size: 7em; }
.ri-8x { font-size: 8em; }
.ri-9x { font-size: 9em; }
.ri-10x { font-size: 10em; }
.ri-fw { text-align: center; width: 1.25em; }

.ri-twitter-fill:before { content: "\f23a"; }
.ri-rss-fill:before { content: "\f09e"; }
.ri-mail-open-line:before { content: "\eefa"; }
.ri-mail-open-fill:before { content: "\eef9"; }
.ri-search-line:before { content: "\f0d1"; }
.ri-facebook-circle-fill:before { content: "\ecba"; }
.ri-fire-fill:before { content: "\ed32"; }
