body {
  background: rgba($brand-bg, 1);
  background: linear-gradient(90deg, rgba($brand-bg, 1) 0%, rgba($brand-bg-l, 1) 35%, rgba($brand-bg-l, 1) 65%, rgba($brand-bg, 1) 100%);
  color: $gray-600;
}

img {
  margin: 1%;
}

header {
  background: $brand-black;
  background: linear-gradient(90deg, rgba($brand-black, 1) 60%, rgba($brand-black-lighter, 1) 100%);

  .top {
    min-height: 80px;
  }

  .info-panel {
    background: $brand-black;

    .blockquote {
      color: $gray-500;
      font-family: $font-family-heading;
      font-size: 1.65rem;
      line-height: 1.4;
      margin-bottom: 0;

      p {
        margin: 0;
      }
    }
  }
}

.slider {
  padding: 0;
  background: $brand-black;

  img {
    margin: 0;
  }
}

.content {
  background: #fff;
}

main {
  background: #fff;
  padding: 1rem 0;
}

aside {
  background: #ccc;
  padding: 1rem 0;
}

.social {
  text-align: right;

  .social-icon {
    background: $gray-800;
    color: $gray-500;
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 2rem;
    margin-left: .25rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 1;

    &:hover {
      color: #fff;
      background: $gray-600;
      text-decoration: none;
    }
  }
}


.btn-social {
  margin-left: 3px;
  width: 48px;
  height: 48px;
  padding: 2px;
  border-radius: 50%;
  font-size: 28px;
  text-align: center;

  &:hover {
    background: $gray-600;
  }
}

nav {
  text-transform: uppercase;
  font-size: .8rem;
  font-family: $font-family-heading;

  &.navbar {
    // margin-top: 2rem;
    text-align: center;
    width: 100%;
  }

  .nav-link {
    font-weight: 600;
    padding: 0 1rem;
  }
}

.navbar-toggler {
  margin-top: 1rem;
  width: 100%;
  font-size: .85rem;

}

footer {
  background: $brand-black;
  margin-bottom: 5rem;

  h5 {
    font-size: 1.45rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  p,
  address {
    font-size: .85rem;
  }

  address {
    line-height: 1.75;
  }

  a {
    color: #fff;

    &:hover {
      color: #ccc;
      text-decoration: none;
    }
  }

  .photo-stream {
    margin: 0 .5rem;

    .img-thumbnail {
      background: red;
      padding: 0;
      border: 1px solid $gray-700;
      border-radius: 0;
    }

    .col-lg-4,
    .col-sm-6 {
      padding: .25rem;
    }

  }
}

.sponsors {

  .col-lg-3,
  .col-md-2,
  .col-sm-4 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .gallery-container {
    margin-bottom: 20px;
    border: 5px solid $gray-200;
    border-radius: 0;
    padding: .5rem;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;

    img {
      object-fit: scale-down;
      width: auto;
      height: auto;
    }
  }
}

.brand {
  img {
    max-width: 400px;
    margin: 0;
  }
}

.is-search .form-control {
  padding-left: 2rem;
  height: 1.5rem;
  border-radius: 100px;
  font-size: .85rem;
  border: 0;
  width: auto;
}

.is-search .form-control-icon {
  position: absolute;
  z-index: 2;
  width: 2rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  pointer-events: none;
}

.blog {
  .post {
    position: relative;
    padding: 2rem 0 1rem;
    border-bottom: 1px solid $gray-200;

    figure {
      border: 5px solid $gray-200;
      display: inline-block;

      img {
        margin: 0;
      }
    }

    .text {
      color: $gray-700;
      display: inline-block;

      h2 {
        font-family: $font-family-heading;
        font-size: 1.25rem;
        margin-bottom: .15rem;
        top: 0;
      }

      .date {
        font-size: .75rem;
        color: $link-color;
        margin-bottom: .35rem;
      }

      p {
        font-size: .9rem;
        margin-bottom: .3rem;
      }

      .readmore {
        font-family: $font-family-sans-serif;
        font-weight: 600;
        // padding: .25rem 2rem;
        width: 150px;
      }
    }
  }

}

aside {
  background: $gray-200;
  background: linear-gradient(180deg, rgba($gray-200, 1) 0%, rgba(255, 255, 255, 1) 100%);
  padding-top: 3rem;
  color: $gray-700;
  font-size: .9rem;

  h2 {
    font-family: $font-family-heading;
    font-size: 1.25rem;
    margin-bottom: .15rem;
    top: 0;
  }

  p {
    font-size: .9rem;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }

}


.simple-pagination ul {
  font-family: $font-family-sans-serif;
  font-size: .75rem;
  font-weight: 600;
  margin: 2.5rem 0 0;
  padding: 0;
  list-style: none;
  text-align: left;

  li {
    display: inline-block;
    margin-right: .5rem;
    border: 0;

    a,
    span {
      color: $gray-600;
      text-decoration: none;
      padding: 5px 10px;
      border: 0;
      line-height: 1.35;
      background-color: $gray-200;
    }
  }

  .current {
    background-color: $gray-400;
    border-color: $gray-400;
  }

  .prev.current,
  .next.current {
    background: $gray-400;
  }
}
