@include media-breakpoint-between(md, xl) {
  .is-search .form-control {
    display: inline-block;
    width: 100%;
    max-width: 150px;
    margin-bottom: 0;
  }

  footer {

    .footer-left,
    .footer-center,
    .footer-right {
      border-bottom: 0;
      padding: 1rem 0;
    }

    .footer-right {
      border-bottom: 0;
    }
  }

}

@include media-breakpoint-between(sm, md) {
  footer {

    .footer-left,
    .footer-center,
    .footer-right {
      border-bottom: 1px solid $gray-800;
      padding: 1rem 0;
    }

    .footer-right {
      border-bottom: 0;
    }
  }

  .blog .post {
    padding: 2rem 0 2rem;

    .col-3 {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

@include media-breakpoint-between(xs, sm) {

  .nav {
    width: 100%;
  }

  .nav-item {
    padding: .25rem 0;
  }

  .is-search {
    width: 100%;
  }

  .is-search .form-control {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  .brand {
    width: 100%;

    img {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }

  .quote {
    margin-bottom: 1rem;
    text-align: center;

    p {
      font-size: 1.25rem;
    }
  }

  .social {
    text-align: center;
  }

  .blog .post {
    padding: 2rem 0 2rem;

    .col-3,
    .col-9 {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  footer {

    .footer-left,
    .footer-center,
    .footer-right {
      border-bottom: 1px solid $gray-800;
      padding: 1rem 0;
    }

    .footer-right {
      border-bottom: 0;
    }
  }

}
